.logo-mario {
    height: 200px;
}


button {
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.imagem-mario-luigi {
    height: 500px;
}

body {
    display: flex;
}