* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #01295e;
}

img {
    width: 100%;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 35px;
}

p {
    font-size: 24px;
    margin: 35px;
    color: #ffffff;
}

input {
    display: block;
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    height: 50px;
    width: 352px;
    margin-bottom: 20px;
}

textarea {
    display: block;
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    height: 100px;
    width: 352px;
    margin-bottom: 20px;
    
}

form {
    background: #ffffff;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    opacity: 0;
    transition: 1s;
}

button {
    background: #40bb15;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 174px;
    cursor: pointer;
    color: white;
}

button:hover {
    opacity: 0.8;
}

.voltar {
    background: gray;
}

div {
    transition: 1s;
}